html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: linear-gradient(-45deg, #2c2b2b, #e66465);
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
}
header .big__text {
  font-size: 3.5em;
}
header span {
  color: #0A72AD;
  font-size: 1.3em;
  font-weight: bold;
}
header .prime__text {
  color: #C4C4C4;
}

.container {
  max-width: 80%;
  margin: auto;
}

section {
  overflow: hidden;
}

#checkbox {
  display: none;
}

.hamburger {
  display: none;
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 4;
  transition: 0.3s;
  right: 20%;
}

@media screen and (max-width: 1405px) {
  .container {
    min-width: 95%;
  }
}
@media screen and (max-width: 1185px) {
  .nav__menu {
    position: fixed;
    flex-direction: column;
    background: #000;
    max-width: 200px;
    top: -20px;
    right: -400px;
    height: 280px;
    align-items: flex-end;
    border-bottom-left-radius: 60px;
    z-index: 2;
    transition: all ease 0.7s;
  }
  #checkbox {
    display: block;
  }
  .checkbox:checked ~ .nav__menu {
    right: 0;
  }
  .cards {
    flex-wrap: wrap;
  }
  .companies {
    flex-wrap: wrap;
  }
  .companies img {
    padding: 5px;
  }
  .back__header {
    height: 80%;
    width: 50%;
  }
  .hamburger {
    display: block;
  }
  .card {
    padding: 10px;
  }
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 20px;
}

.hamburger:after {
  top: 10px;
  width: 25px;
}

.toggle__menu {
  position: absolute;
  width: 30px;
  height: 5%;
  z-index: 5;
  cursor: pointer;
  right: 20%;
  opacity: 0;
  top: 0;
}

.checkbox:checked ~ .hamburger {
  background: transparent;
}

.checkbox:checked ~ .hamburger:focus {
  background: transparent;
}

.checkbox:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.checkbox:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

nav {
  display: flex;
  padding: 1em 0;
  font-size: 1em;
  font-family: inherit;
  align-items: center;
  height: 1em;
}
nav .nav__logo {
  width: 20%;
}

.back__header {
  position: absolute;
  top: 4em;
  right: 0;
  max-height: 90%;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu__list:first-child {
  color: #FFFFFF;
}

.menu__list {
  list-style: none;
  transition: all 0.75s;
}

.menu__list:first-child {
  background-color: #FFFFFF;
  border-radius: 15px;
}

#home {
  color: #0A72AD;
}

.menu__list:hover {
  background-color: #FFFFFF;
  border-radius: 15px;
}

.menu__item:hover {
  color: #0A72AD;
}

.menu__item {
  color: #C4C4C4;
  text-decoration: none;
  transition: all 0.75s;
  padding: 0.3em;
}

.nav__logo {
  color: #FFFFFF;
}

.btn {
  background: linear-gradient(-45deg, #17628e, #60BBEE);
  max-width: 20%;
  text-align: center;
  cursor: pointer;
  transition: 0.75s;
}
.btn p {
  padding: 20px;
}

.btn:hover {
  background: linear-gradient(85deg, #067fc5, #7fb5d4);
  transform: translate(0px, -15px);
  box-shadow: 60px -16px teal;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.benefits {
  width: 50%;
  padding-top: 2em;
}

.info__block {
  width: 50%;
  background-color: #0A72AD;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info span {
  color: #C4C4C4;
  font-size: 1rem;
  font-weight: normal;
}
.info p {
  font-size: 1.3em;
}

.add__el {
  color: #067fc5;
}

.add__container {
  width: 55%;
  display: flex;
  justify-content: space-between;
  height: 130px;
  margin-left: 20%;
  color: #C4C4C4;
  flex-wrap: wrap;
}
.add__container span {
  font-size: 2em;
  color: inherit;
}
.add__container b {
  font-size: 2em;
}

.section__logos {
  background-color: #E5E5E5;
  width: 100%;
}

.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
}

.section__services {
  background-color: #F6F6F6;
}

.section__top {
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.section__text {
  height: 140px;
}

.text {
  color: #C4C4C4;
}

.section__title {
  font-size: 2.5em;
  font-weight: bold;
}

.card__title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1.2em 0;
}

.find__a__team {
  background-color: #E5E5E5;
}

.icon {
  position: relative;
}

.in__icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 7px;
  display: block;
  margin: auto;
}

.in__icon1 {
  right: 167px;
}

.in__icon2 {
  right: 148px;
}

.in__icon3 {
  right: 165px;
}

.in__icon4 {
  right: 160px;
}

.in__vector1 {
  left: 31px;
}

.in__vector2 {
  left: 30px;
}

.in__vector3 {
  left: 29px;
}

.in__vector4 {
  left: 29px;
}

.meet__it {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article {
  margin-top: 5rem;
  padding-left: 130px;
}

.meet__image {
  position: relative;
}

.article__bottom {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 2.5em;
}
.article__bottom img {
  margin-left: 0.8em;
}

.link {
  font-size: 1.2em;
  font-weight: bold;
}

.button {
  background-color: #0A72AD;
  color: #FFFFFF;
  padding: 20px 40px;
  transition: all 0.75s ease;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(85deg, #067fc5, #7fb5d4);
  transform: translate(0px, -15px);
  box-shadow: 60px -16px teal;
}

.meet__card__title {
  font-size: 22px;
  font-weight: 600;
}

.meet__card {
  background: linear-gradient(120deg, #474747, #222222);
  color: #FFFFFF;
  width: 20em;
  height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  top: 22%;
  left: 70%;
}

.about__us {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.about__us__image img {
  margin-top: 2.5em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */